<?xml version="1.0" encoding="ISO-8859-1"?><config>	<uid>1_Softphone</uid>	<sip_host>173.227.161.16</sip_host>	<sip_rtmp>rtmp://10.20.55.61:1936/sip</sip_rtmp>	<username>Akilas0001</username>	<password>vlad_1001</password>	<passcode>3670478</passcode>	<tollPhone>7777123456</tollPhone>	<micSilenceLevel>3</micSilenceLevel>	<micSilenceTimeout>3000</micSilenceTimeout>	<soundCodec>Speex</soundCodec>	<encodeQuality>6</encodeQuality>	<packet>8</packet>	<gain>20</gain>	<personality>IMEET</personality></config>